<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="jy" stopProcessing="true">
                    <match url="(.*).(php|asp|jsp)$" />
                    <action type="AbortRequest" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\phpstudy_pro\Extensions\php\php5.6.9nts\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
